@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Lato', 'sans-serif';
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}
